.cardArea {
    padding-bottom: 5%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.whiteCardContainer {
    display: flex;
    justify-content: center;
    flex: 0;
    align-items: flex-start;
}

.tableArea {
    flex: 1;
    display: flex;
    min-height: 0;
}

.blackCardContainer {
    flex-basis: 20%;
    display: flex;
    align-items: flex-start;
    margin-right: 1%;
}

.playedCardArea {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    flex: 1
}