.card {
    font-family: 'Cards';
    font-size: 1vw;
    border: solid black 2px;
    border-radius: 10px;
    margin: 0.5%;
    display: block;
    text-align: start;
    outline: none;
    transition-duration: .1s;
    overflow-wrap: break-word;
    word-break: break-word;
    word-wrap: break-word;
    hyphens: auto;
}
.card.white {
    color: black;
    background-color: white;
    border-color: black;
    flex-shrink: 1;
    width: 10vw;
}
.card.white:hover {
    transform: scale(1.1);
}
.card.white:active {
    color: white;
    background-color: black;
    border-color: white;
}
.card.chosen {
    background-color: gold;
    box-shadow: 0px 0px 35px 10px gold;
}

.card.black {
    color: white;
    background-color: black;
    flex: 1;
    border-color: white;
    font-size: xx-large;
}

.card.sticky {
    margin-left: -0.5%;
}

.aspect-ratio-box {
    position: relative;
}
.aspect-ratio-box:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 139.6825396825%;
}
.aspect-ratio-box > .aspect-ratio-box-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8%;
    overflow-y: auto;
}

span {
    display: block;
}

.mark {
    position: absolute;
    bottom: 2%;
    right: 5%;
}

.black .mark{
    color:white;
}

.raised {
    transform: translateY(-30px);
}
.raised:hover {
    transform: scale(1.1) translateY(-30px) !important;
}
.children input {
    font-size: smaller !important;
    width: 100%;
}
.children button {
    font-size: smaller !important;
    width: 100%;
    color: var(--text);
}