.cardArea {
    padding-bottom: 2%;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 0;
    flex: 1;
}

.whiteCardContainer {
    display: flex;
    justify-content: center;
    flex: 0;
    align-items: flex-start;
    position: relative;
}

.tableArea {
    flex: 1;
    display: flex;
    min-height: 0;
}

.blackCardContainer {
    flex-basis: 20%;
    display: flex;
    align-items: flex-start;
    margin-right: 1%;
}

.playedCardArea {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    overflow-y: auto;
    flex: 1;
    position: relative;
}

.cardGroup {
    flex: 0;
    display: flex;
    margin: 0.5%;
}

.sidebarContainer {
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    /*justify-content: center;*/
}

.sidebarContent {
    border: solid var(--text) 1px;
    border-radius: 10px;
    background-color: var(--background-secondary);
    padding: 5%
}

.czarContainer {
    background-color: var(--background-secondary);
    opacity: 0.8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.czarPrompt {
    font-size: xxx-large;
    color: var(--text);
}

.czarBackdrop {
    background-color: var(--background);
    box-shadow: 0px 0px 40px 40px var(--background);
}

.blocked::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.additionalSpace {
    flex: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    position: relative;
}