.games-list {
    display: flex;
    flex-direction: column;
}
.refresh-button {
    margin: 1%;
    border: solid 1px var(--text);
    font-family: 'Cards';
    background-color: var(--background-secondary);
    border-radius: 10px;
    padding: 0.5%;
    font-size: larger;
}