.header {
    flex: 0.05;
    background-color: black;
    color: white;
    font-family: 'Cards';
    border-bottom: white solid 1px;
    display: flex;
    align-items: center;
    padding-left: 0.8%;
    padding-right: 0.8%;
}

span{
    display: inline-block;
    vertical-align: middle;
}

a {
    color: white
}

.spreader{
    flex: 1
}

.github {
    display: inline-block;
    position: relative;
    margin-left: 0.5%;
}