.App {
  background: #00000000;
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  overflow: hidden;
}
.App::after {
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient( #ffffff, #ffffff 20%, #cccccc 60%, #00000000 90%, #00000000);
  background-color: #000000;
  filter: blur(3px);
  position: absolute;
  z-index: -10;
  margin: -10px;
}

.homeButton{
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 5px;
}